name: Protect main

on:
  pull_request:
    branches:
      - main

jobs:
  check-source:
    runs-on: ubuntu-latest
    steps:
      - name: Check if PR is from dev
        run: |
          if [ "${{ github.head_ref }}" != "dev" ]; then
            echo "Only dev can merge into main."
            exit 1
          fi
